@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);
@import url(/newfont.ttf);
@font-face {
    font-family: mr de haviland;
    src: local("mr de haviland"),
		url(../newfont.ttf);
}
body{
  font-family: 'Raleway', sans-serif;
}
.site-index{
  position: absolute;
  top: 40%;
  width: inherit;
  text-align: center;
}

.welcome{
  position: relative;
  width: 40%;
  margin: auto;
  background-color: inherit;
}

.breadcrumb{
}

.breadcrumb > li + li::before{
  content: "\203A";
}
/*.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content:  "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}*/
